<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<div class="container">
    <div class="top-right-menu">
        <a href="/" class="home-btn">Back to Main</a>
    </div>
    
    <h1>Log In</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Id:</label>
            <input type="text" id="username" name="username" value="{{ username|default('') }}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Log In</button>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</div>
</body>
</html>