<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Planner</title>
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />

</head>
<body>
<div class="container">
    <div class="left">
        <img src="/static/image/favicon.ico" alt="로고" class="logo-image">
    </div>
    <div class="right">
        <div class="welcome-text">공강</div>
        <div class="study-planner-container">
            <div class="study-planner-text">AI Planner</div>
        </div>
        <button class="start-button" onclick="location.href='/login'">Start</button>
    </div>
</div>
</body>
</html>
